@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
  @apply mx-auto px-5 md:px-14 max-w-screen-2xl;
}

.section {
  @apply mt-8 mb-16;
}

.primary-cta {
  @apply bg-sky-500 hover:bg-sky-600;
}

.secondary-cta {
  @apply bg-sky-700 hover:bg-sky-800;
}

.accordion__button:before {
  content: "+";
  float: right;
  margin-right: 1em;
  font-size: 2em;
  line-height: 0.5em;
  color: orange;
}
.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  content: "\2014";
}

.accordion__button,
.accordion__panel {
  color: black !important;
}

.accordion-content {
  transition: 0.2s ease-out;
}

.accordion__panel {
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 2;
}

.slick-prev::before,
.slick-next::before {
  color: #002652 !important;
  font-size: 2rem !important;
}

.slick-prev,
.slick-next {
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
  top: 40% !important;
  padding: 1em;
}

.slick-list {
  width: 80%;
  margin: 0 auto !important;
}

.slick-prev {
  left: 2em;
}

.slick-next {
  right: 0;
}
.slick-prev {
  left: 7% !important;
  z-index: 1;
}
.slick-next {
  right: 7% !important;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .slick-prev {
    left: 0% !important;
    z-index: 1;
  }
  .slick-next {
    right: 2% !important;
    z-index: 1;
  }
}
.slick-slider .slick-slide {
  padding: 0 15px;
}

.univ .slick-track {
  margin-left: 0;
}

.Header-logo--7o3IK {
  display: block;
  height: 31.94px;
  margin-bottom: 10px;
  margin-right: 24px;
  width: 80px;
}
.Header-logo--7o3IK .svg-fill {
  transition: fill 0.2s linear;
}
.Header-logo--7o3IK .rainbow {
  fill: #4a4af4;
}
